.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: var(--default-layout-header-height);
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width, 1150px);
}

.content {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

//Responsive
@media screen and (max-width: 1072px) {
    .sidebar {
        width: 72px;
        border-right: 1px solid rgba(22, 24, 35, 0.02);
        box-shadow: 1px 1px 1px rgba(22, 24, 35, 0.03);
    }
}
